/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
/* Change filter to colo */
/* https://codepen.io/sosuke/pen/Pjoqqp */

:root {
  /* Colors */
  --black: #000;
  --light-main-color:#F4F9F0;
  --light-secondary-color:#BFE0A5;
  --dark-main-color:#43553A;
  --dark-secondary-color:#343625;
  --grey: #a4b2bc;
  --white: #fff;
  --orange:#EA7C69;
  --orange-light:#F09D65;
  --background: #43553A;
  --filter-img-orange: invert(63%) sepia(20%) saturate(1956%) hue-rotate(318deg) brightness(100%) contrast(84%);
  --filter-img-orange-light:invert(76%) sepia(89%) saturate(827%) hue-rotate(313deg) brightness(98%) contrast(92%);


}

html {
  overflow: hidden;
  background-color: var(--background);
  color:var(--light-main-color);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: "Oswald", sans-serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--light-main-color);
}
a:hover {
   color:var(--orange-light);
}
